# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local
tsconfig.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Local config (user overrides)
config.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage
bleep/
playwright-report/
test-results/
.next
.vercel
/public/uploads/*
!/public/uploads/.gitkeep
